<div class="card">
    <form (ngSubmit)="updateProduct()">
        <div class="card-header">
            {{title}}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>

                            <td> <label>Product Id</label></td>
                            <td><input type="text" name="p_id" id="pdt"[(ngModel)]="productItem.productId" /></td>
                        </tr>
                        <tr>
                            <td> <label>Product Name</label></td>
                            <td><input type="text" name="p_name" id="pdt" [(ngModel)]="productItem.productName" /></td>
                        </tr>
                        <tr>
                            <td> <label>Product Code</label></td>
                            <td><input type="text" name="p_code" id="pdt" [(ngModel)]="productItem.productCode" /></td>
                        </tr>
                        <tr>
                            <td> <label>Product Date</label></td>
                            <td><input type="text" name="p_date"  id="pdt"[(ngModel)]="productItem.releaseDate" /></td>
                        </tr>
                        <tr>
                            <td> <label>Product Description</label></td>
                            <td><input type="text" name="p_desc"  id="pdt"[(ngModel)]="productItem.description" /></td>
                        </tr>
                        <tr>
                            <td> <label>Product Price</label></td>
                            <td><input type="text" name="p_price" id="pdt" [(ngModel)]="productItem.price" /></td>
                        </tr>
                        <tr>
                            <td> <label>Product starRating</label></td>
                            <td><input type="text" name="p_rating" id="pdt" [(ngModel)]="productItem.starRating" /></td>
                        </tr>
                        <tr>
                            <td> <label>Product imageUrl</label></td>
                            <td><input type="text" name="p_image" id="pdt" [(ngModel)]="productItem.imageUrl" /></td>
                        </tr>
                        <tr>

                            <td></td>
                            <td><input type="submit" class="btn btn-danger" style="margin-left: 2cm;" value="Submit" /></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>